<h1>Watering Schedules</h1>
<table>
  <% @water_schedules.each do |schedule| %>

    <% schedule[:schedule].each do |date| %>
    <tr>
      <td><%= date %></td>
      <td><%= schedule[:name] %></td>
    </tr>
  <% end %>

  <%end%>
</table>